<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="edit-form" method="post" action="edit.html" th:action="@{/update}" th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" name="id" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="book-name-input">Name:</label>
        <input id="book-name-input" name="name" type="text" value="Book name" th:value="*{name}"/>
    </div>

    <div class="row">
        <label for="book-author-name-select">Author:</label>
        <select name="authorId" id="book-author-name-select">
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}" th:selected="${book.author.id==author.id}">
            </option>
        </select>
    </div>

    <div class="row">
        <label for="book-genre-name-select">Genre:</label>
        <select name="genreId" id="book-genre-name-select" >
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}" th:selected="${book.genre.id==genre.id}">
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/books}"><button type="button">Cancel</button></a>
    </div>
</form>
</body>
</html>
